.card {
	display: flex;
	flex-direction: column;
	align-items: center;

	.content {
		width:100%;
		display: flex;
		flex: 15 1 0;
		align-items: center;
		justify-content: center;
		text-align:center;
	}

	.footer {
		width: 100%;
		display: flex;
		flex: 1 1 0;
		flex-direction: row;
		justify-content: flex-end;
		margin-right: 3em;
	}
}

.card:hover {
	/*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);*/
}

.white{
	background-color: white;
}

.black{
	background-color: black;
	color: white
}

.card.large {
	width: 30em;
	height: 40em;
	border: .08em solid black;
	border-radius: 3em;
	.content{	
		> * {
			margin: 1em;
		}
	}
}

.card.medium {
	width: 15em;
	height: 20em;
	border: .04em solid black;
	border-radius: 1.5em;
	.content{	
		> * {
			margin: 1em;
		}
	}
}

.card.small {
/*	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);*/
	width: 10em;
	height: 13.3em;
	border: .03em solid black;
	border-radius: 1em;	
	
	.content {	
		>* {
			margin: .3em;
		}
	}
}

.card.small:hover {
		/*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);*/
	}
