.card_container{
	display: flex;
	flex-direction: column;
	align-items: center;

	.new_card {
		display: flex;
		flex-direction: column;	
		align-items: center;


		
			.card_body{
				z-index: 2;

				.row {
					display: flex;
					flex-direction: row;
					align-items: center;
					display: flex;
					justify-content: center;

					.placeholder{
						width:5em;
						position:relative;
					}
					
					.color_button {
						z-index: 3;
						position: relative;
					}
					
					.color_button.right {
						left: -1.5em;
					}

					.color_button.left {
						right: -1.5em;
					}
				}
			}

			.submit_card{
				margin: 1em;
				width: 30em;
				height: 5em;
				display:flex;
				justify-content: center;
				align-items: center;
				border: .05em solid black;
				border-radius: 1em;
				position: relative;
				background-color: white;
				transition: 0.3s;
				z-index: 1;

				&:hover {
					background-color: #058ED9;
					color:white;
				}
			}	

			.submit_card.medium {
				width: 15em;
				border-radius: 0.5em;
			}
		}


}
