.user_container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;

	.user_content_container {
		display:flex;
		flex-direction: column;
		text-align: right;

		button {
			border-radius: 1em;
			border: 0 solid black;
			font-size: 16pt;
			background-color: white;
			padding: 1em .1em;

			&:hover {
				color: darkred;
			}
		}
	}
}
